@use '../utilities' as *;

.cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: rem(30);
    

    
  
    @include breakpoint(medium) {
      grid-template-columns: repeat(2, 1fr);
    }
  
    @include breakpoint(large) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

.card {

    background: var(--card-bg);
    color: --text-color;
    text-align: center;
    padding: rem(25);
    border-radius: rem(5);
    position: relative;
    overflow: hidden;
    transition: background 150ms ease-in-out;
    cursor: pointer;


    &:hover {
        background: var(--card-hover);
        transform: scale(1.1) ;

        
    }

    &--facebook {
        border-top: rem(5) solid var(--facebook);
        
        &:hover {
            border: rem(1) solid var(--facebook);
            box-shadow: 0 0 rem(10) var(--facebook);
        }
            
    }
    &--twitter {
        border-top: rem(5) solid var(--twitter);

        &:hover {
            border: rem(1) solid var(--twitter);
            box-shadow: 0 0 rem(10) var(--twitter);
        }
    }
    &--spotify {
        border-top: rem(5) solid var(--spotify);
        &:hover {
            border: rem(1) solid var(--spotify);
            box-shadow: 0 0 rem(10) var(--spotify);
        }
    }
    &--reddit {
        border-top: rem(5) solid var(--reddit);
        &:hover {
            border: rem(1) solid var(--reddit);
            box-shadow: 0 0 rem(10) var(--reddit);
        }

    }
    &--tiktok {
        border-top: rem(5) solid var(--tiktok);
        &:hover {
            border: rem(1) solid var(--tiktok);
            box-shadow: 0 0 rem(10) var(--tiktok);
        }

    }
    &--instagram {
        border-top: rem(5) solid var(--instagram-middle);
           
        &:hover {
            border: rem(1) solid var(--instagram-middle);
            box-shadow: 0 0 rem(10) var(--instagram-end);
        
        }
    }
    &--threads {
        border-top: rem(5) solid var(--instagram-end);

        &:hover {
            border: rem(1) solid var(--instagram-middle);
            box-shadow: 0 0 rem(10) var(--instagram-end);
        }


    }
    &--youtube {
        border-top: rem(5) solid var(--youtube);
        &:hover {
            border: rem(1) solid var(--youtube);
            box-shadow: 0 0 rem(10) var(--youtube);
        }
    }

    img {
        max-width: rem(20);
        max-height: rem(20);
    }



    &__platform {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: rem(28);
        margin-top: rem(5);
        height: rem(20);

    }

    &__subtitle {
        font-size: rem(14);
        font-weight: 700;
    }


    &__icon {

        margin-right: rem(8);

        &--facebook {
            
        }
        &--twitter {

        }
        &--instagram {

        }
        &--youtube {

        }

    }
    &__username {
        font-size: re(12);
        font-weight: bold;

    }
    &__count {
        color: var(--text-color);
        letter-spacing: rem(-2);
        line-height: 1;
        margin-bottom: rem(4);

        &--big {
        font-size: rem(56);
        font-weight: 700;

        }
        &--small { 
            font-size: rem(32);
            font-weight: 700;

        }
    }
    &__label {
        color: var(--toggle);
        text-transform: uppercase;
        font-size: rem(12);
        font-weight: 400;
        letter-spacing: rem(5);

    }
    &__followers {
        margin-bottom: rem(25);

    }
    &__change {

        font-size: rem(12);
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: center;


        &--up {
            color: var(--limegreen);

        }
        &--down {

            color: var(--brightred);
        }
    }
    &__number {
        margin-left: rem(4);

    }
    
}
